@page
@model OpenDHS.Omniumbio.Site.Pages.HomeModel
@{
    Layout = "_LayoutEmpty";
}


<section id="herohome">
    <div class="text-center text-end" style="overflow: hidden">
            <a asp-area="" asp-page="/Home">
                <img src="~/assets/img/bio/landing_omniumbio_clean.png" alt="Imagen" width="90%" height="60%" />
            </a>
        </div>    
</section>
