@model OpenCRM.Core.Web.Pages._BreadCrumbPartialModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var item in this.Model.Links)
        {
            <li class="breadcrumb-item">
                <a class="nav-link text-dark" asp-area="@item.Area" asp-page="@item.Page">@item.Name</a>
            </li>
        }
    </ol>
</nav>