@page
@model OpenCRM.Core.Web.Pages._BreadCrumbPartialModel
@{
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Core Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Core Event</li>
    </ol>
</nav>