@model OpenCRM.Core.Web.Pages._BreadCrumbPartialModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var item in this.Model.Links)
        {
            @if (item.IsActive)
            {
                <li class="breadcrumb-item active" aria-current="page">
                    @item.Name
                </li>
            }
            else
            {
                <li class="breadcrumb-item">
                    <a class="nav-link text-dark" href="@item.Page">@item.Name</a>
                </li>
            }
        }
    </ol>
</nav>
